@media(max-width: 599px) {
    .landing-container {
        margin-bottom: 30px;
    }
}
/* ------------------------ LANDING: Presentation ------------------------  */
.landing-container .presentation-section {
    background-image:-webkit-linear-gradient(#87d9fa, #0c419e);
    width: 100%;
    min-height: 90vh;
    padding: 5vh 0;
    display: flex;
}
.landing-container .presentation-section .MuiGrid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.landing-container .presentation-section .presentation-text {
    width: 80%;
    font-size: 1rem;
    padding-bottom: 30px;
    color: white;
}
.landing-container .presentation-section .presentation-text .title {
    font-size: 2rem;
    font-weight: 500;
}
.landing-container .presentation-section .presentation-text .body {
    font-size: 20px;
    font-weight: 100;
}
.landing-container .presentation-section .presentation-text .text-lowsize {
    font-size: 20px;
}
.landing-container .presentation-section .presentation-button {
    background-color: #f8ca3f;
    width: 80%;
    color: white;
    font-weight: 100;
    font-size: 18px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    transition: .6s;
}
.landing-container .presentation-section .presentation-button:hover {
    box-shadow: 2px 2px 20px 3px rgba(255, 255, 255, 0.596);
}
.landing-container .presentation-section .presentation-picture {
    width: 80%;
    background-color:#3a3a3a;
    padding: 10px;
    border: 2px solid #f8ca3f;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 5px #ffffff;
}
@media(max-width: 599px) {
    .landing-container .presentation-section .presentation-picture {
        margin-top: 30px;
    }
}

/* ------------------------ LANDING: Products ------------------------  */
.landing-container .products-section {
    background-color: #3a3a3a;
    padding: 60px 50px;
    overflow-x: auto;
}
.landing-container .products-section .products-carroussel {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* ------------------------ LANDING: General ------------------------  */
.highlight-text {
    color: #f8ca3f;
}